<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889157287402-qf4d6o1if7d0mci7vupibafckc4aseuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889157287402-qf4d6o1if7d0mci7vupibafckc4aseuv</string>
	<key>API_KEY</key>
	<string>AIzaSyBmWBG5rplimSODOx5fmD4NVOJedqzaxCg</string>
	<key>GCM_SENDER_ID</key>
	<string>889157287402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.izelakkas</string>
	<key>PROJECT_ID</key>
	<string>izelakkas-94669</string>
	<key>STORAGE_BUCKET</key>
	<string>izelakkas-94669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889157287402:ios:3c8ab339cfd8e5d8c94693</string>
</dict>
</plist>